<BOUCLE_principale(ARTICLES) {id_article}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	[(#REM) Contenu principal : contenu de l'article ]
	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><BOUCLE_ariane(HIERARCHIE){id_article}> &gt; <a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p>

	<INCLURE{fond=inclure/affiche_article, env}>

<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>