<BOUCLE_principale(MOTS) {id_mot}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> &gt; <:mots_clefs:><BOUCLE_ariane(GROUPES_MOTS){id_groupe}> &gt; [(#TITRE|couper{80})]</BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p>

	<div class="cartouche">
		[(#LOGO_MOT|image_reduire{40,*})]
		<h1 class="#EDIT{titre}">#TITRE</h1>
	</div>

	[<div class="#EDIT{texte} texte">(#TEXTE)</div>]

	[(#REM) Articles lies au mot-cle ]
	<B_articles>
	<div class="menu menu_articles">
		#ANCRE_PAGINATION
		<h2><:articles:></h2>
		<ul>
			<BOUCLE_articles(ARTICLES) {id_mot} {!par popularite} {pagination 10}>
			<li>
				<strong><a href="#URL_ARTICLE">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{40,*}) ]#TITRE</a></strong>
				<br /><small>[(#DATE|affdate_jourcourt)][, <:par_auteur:> (#LESAUTEURS|supprimer_tags)]</small>
			</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_articles>

	[(#REM) Rubriques liees au mot-cle ]
	<B_rubriques>
	<div class="menu menu_rubriques">
		<h2><:rubriques:></h2>
		<ul>
			<BOUCLE_rubriques(RUBRIQUES) {id_mot} {par titre}>
			<li><a href="#URL_RUBRIQUE">#TITRE</a></li>
			</BOUCLE_rubriques>
		</ul>
	</div>
	</B_rubriques>

	[(#REM) Breves liees au mot-cle ]
	<B_breves>
	<div class="menu menu_breves">
		<h2><:breves:breves:></h2>
		<ul>
			<BOUCLE_breves(BREVES) {id_mot} {par titre}>
			<li><a href="#URL_BREVE">#TITRE</a></li>
			</BOUCLE_breves>
		</ul>
	</div>
	</B_breves>

	[(#REM) Liens des forums ]
	<B_forums_liens>
	<div class="menu menu_comments">
		<h2><:messages_forum:></h2>
		<ul>
			<BOUCLE_forums_liens(FORUMS?) {id_mot} {plat} {!par date}>
			[<li>[(#NOM|sinon{...})&nbsp;: ]<a href="#URL_FORUM"[ title="(#TITRE|attribut_html|couper{80})"]>(#TEXTE|couper{80})</a></li>]
			</BOUCLE_forums_liens>
		</ul>
	</div>
	</B_forums_liens>

	[(#REM) Sites web lies au mot-cle ]
	<B_sites>
	<div class="menu">
		<h2><:sites_web:></h2>
		<ul>
			<BOUCLE_sites(SITES) {id_mot} {par nom_site}>
			<li><a href="[(#ID_SYNDIC|generer_url_entite{site,'','',#CONNECT})]">#NOM_SITE</a></li>
			</BOUCLE_sites>
		</ul>
	</div>
	</B_sites>

	[<div class="notes"><hr />(#NOTES)</div>]
	
<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>
