<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a> &gt; <:info_rechercher:>[ &gt; <strong class="on">(#RECHERCHE)</strong>]</p>
	
	[<div class="cartouche">
		<h1><:resultats_recherche:></h1>
		<p class="soustitre">&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</p>
	</div>]
	
	[(#REM) Articles trouves ]
	<B_articles>
	<div class="menu menu_articles">
		#ANCRE_PAGINATION
		<h2><:articles:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_articles(ARTICLES) {recherche} {!par points} {pagination}>
			<li><a href="#URL_ARTICLE">#TITRE</a></li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_articles>
	
	[(#REM) Rubriques trouvees ]
	<B_rubriques>
	<div class="menu menu_rubriques">
		#ANCRE_PAGINATION
		<h2><:rubriques:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_rubriques(RUBRIQUES) {recherche} {!par points} {pagination 5}>
			<li><a href="#URL_RUBRIQUE">#TITRE</a></li>
			</BOUCLE_rubriques>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_rubriques>
	
	[(#REM) Mots-cles trouves ]
	<B_mots>
	<div class="menu menu_mots">
		#ANCRE_PAGINATION
		<h2><:mots_clefs:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_mots(MOTS) {recherche} {!par points} {pagination 5}>
			<li><a href="#URL_MOT">#TITRE</a></li>
			</BOUCLE_mots>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_mots>
	
	[(#REM) Breves trouvees ]
	<B_breves>
	<div class="menu menu_breves">
		#ANCRE_PAGINATION
		<h2><:breves:breves:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_breves(BREVES) {recherche} {!par points} {pagination 5}>
			<li><a href="#URL_BREVE">#TITRE</a></li>
			</BOUCLE_breves>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_breves>
	
	[(#REM) Messages trouves ]
	<B_messages>
	<div class="menu menu_comments">
		#ANCRE_PAGINATION
		<h2><:messages_forum:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_messages(FORUMS?) {recherche} {!par points} {pagination 5}>
			[<li><a href="#URL_FORUM"[ title="(#TITRE|attribut_html|couper{80})"]>(#TEXTE|couper{80})</a></li>]
			</BOUCLE_messages>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_messages>
	
	[(#REM) Sites web trouves ]
	<B_sites>
	<div class="menu menu_sites">
		#ANCRE_PAGINATION
		<h2><:sites_web:> (#GRAND_TOTAL)</h2>
		<ul class="spip">
			<BOUCLE_sites(SITES) {recherche} {!par points} {pagination 5}>
			<li><a href="[(#ID_SYNDIC|generer_url_entite{site,'','',#CONNECT})]">#NOM_SITE</a></li>
			</BOUCLE_sites>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_sites>
			
<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />