<BOUCLE_principale(RUBRIQUES) {id_rubrique}>
<!-- Header -->
<INCLURE{fond=inclure/template_header,env} />

	[(#REM) Contenu principal : contenu de la rubrique ]
	
	<p class="arbo"><a href="#URL_SITE_SPIP/"><:accueil_site:></a><BOUCLE_ariane(HIERARCHIE){id_rubrique}> &gt; <a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></BOUCLE_ariane>[ &gt; <strong class="on">(#TITRE|couper{80})</strong>]</p><!--.arbo-->

	<div class="cartouche">
		<h1 class="#EDIT{titre} surlignable">[(#LOGO_RUBRIQUE|image_reduire{40,*}) ]#TITRE</h1>
	</div>

	[<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{500,*})</div>]

	[(#REM) Articles de la rubrique ]
	<B_articles>
	<div class="menu menu_articles">
		#ANCRE_PAGINATION
		<ul>
			<BOUCLE_articles(ARTICLES) {id_rubrique} {par date} {age<0} {pagination}>
			<li>
				<strong><a href="#URL_ARTICLE">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{40,*}) ]#TITRE</a></strong>
				<p class="info-publi"><abbr class="published" title="[(#DATE|date_iso)]">Le [(#DATE|nom_jour) ][(#DATE|affdate)]</abbr></p>
				[<div class="complement">(#INTRODUCTION{200})</div>]
			</li>
			</BOUCLE_articles>
		</ul>
		[<p class="pagination">(#PAGINATION)</p>]
	</div>
	</B_articles>

	[<div class="notes"><hr />(#NOTES)</div>]

<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />
</BOUCLE_principale>
