<!-- Header -->
<INCLURE{fond=inclure/template_header,env,env_page=sommaire} />

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Intro -->
				<section id="section1" class="wrapper style1 fullscreen fade-up intro">
					<div class="inner">
						[<h1>(#NOM_SITE_SPIP)</h1>]
						<INCLURE{fond=inclure/accueil,env} />
						<!-- <ul class="actions">
							<li><a href="#one" class="button scrolly">Learn more</a></li>
						</ul> -->
					</div>
				</section>


			<BOUCLE_sections(ARTICLES){id_rubrique = 1}{id_article != 1}{par num titre, titre}>

				<!-- section#ID_ARTICLE -->
					<section id="section#ID_ARTICLE" class="wrapper style[(#COMPTEUR_BOUCLE|alterner{2,1})] fullscreen fade-up">
						<div class="inner">
							<INCLURE{fond=inclure/affiche_article,id_article}>
							<!-- <ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul> -->
						</div>
					</section>

			</BOUCLE_sections>				

			<BOUCLE_sections2(RUBRIQUES){id_rubrique IN 2,5}{par num titre, titre}>

				<!-- section#ID_RUBRIQUE -->
					<section id="section2_#ID_RUBRIQUE" class="wrapper style[(#COMPTEUR_BOUCLE|alterner{1,2})] spotlights">
						
						<BOUCLE_ARTICLES(ARTICLES){id_rubrique}{!par date}{0,5}>
							<section>
								<BOUCLE_image(DOCUMENTS){id_article}{extension IN jpg,gif,png}{0,1}>
									<a href="#URL_ARTICLE" class="image"><img src="[(#FICHIER|image_passe_partout{500,500}|image_recadre{500,500}|extraire_attribut{src})]" alt="" data-position="top center" /></a>
								</BOUCLE_image>
								</B_image>
								<a href="#URL_ARTICLE" class="image"><img src="[(#CHEMIN{images/pic0[(#_ARTICLES:COMPTEUR_BOUCLE|alterner{'1','2','3'})].jpg})]" alt="" data-position="top center" /></a>
								<//B_image>
								
								<div class="content">
									<div class="inner">
										[<h2>(#TITRE)</h2>]
										<div>#INTRODUCTION{100}</div>
										<ul class="actions">
											<li><a href="#URL_ARTICLE" class="button">Lire la suite</a></li>
										</ul>
									</div>
								</div>
							</section>
						</BOUCLE_ARTICLES>

					</section>

			</BOUCLE_sections2>

			[(#REM) Partenaires ]
			<BOUCLE_rub_partenaires2(RUBRIQUES){id_rubrique = 4}>
				<section id="section2_#ID_RUBRIQUE" class="wrapper style3 fade-up">
					<div class="inner">
						[<h2>(#TITRE)</h2>]
						<div class="features">
						<BOUCLE_partenaires2(ARTICLES) {id_rubrique}>
							
							<section>
								[(#LOGO_ARTICLE|image_passe_partout{96,96}|image_reduire{96,96}|inserer_attribut{alt,[(#TITRE|attribut_html)]}|inserer_attribut{title,[(#TITRE|attribut_html)]})]
								<!-- <span class="icon major fa-code"></span> -->
								[<h3><a href="#URL_SITE">(#TITRE)</a></h3>]
								[<p>(#TEXTE)</p>]
								<div class="clear"></div>
							</section>

						</BOUCLE_partenaires2>
						</div>
					</div>
				</section>
			</BOUCLE_rub_partenaires2>

		</div>

<!-- Footer -->
<INCLURE{fond=inclure/template_footer,env} />