<BOUCLE_article(ARTICLES) {id_article}>

	<div class="cartouche">
		[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
		<h2 class="#EDIT{titre} surlignable">[(#LOGO_ARTICLE_RUBRIQUE|image_reduire{40,*}) ]#TITRE</h2>
		[<p class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</p>]
		[(#ID_RUBRIQUE|=={2}|oui)
			<p class="info-publi"><abbr class="published" title="[(#DATE|date_iso)]">Publié le : [(#DATE|nom_jour) ][(#DATE|affdate)]</abbr></p>
		]
	</div>
	
	[<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|image_reduire{500,*})</div>]
	[<div class="#EDIT{texte} texte surlignable clearfix">(#TEXTE|image_reduire{500,*})</div>]

	[<hr /><p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
	[<div class="#EDIT{ps} ps surlignable"><hr />(#PS|image_reduire{500,*})</div>]

	[(#REM) Gestion du portfolio et des documents ]
	[(#INCLURE{fond=inclure/documents,id_article, env})]

	[<div class="notes"><hr />(#NOTES)</div>]
	
</BOUCLE_article>