			[(#ENV{env_page}|=={sommaire}|non)
					</div>
				</section>
			</div>
			]
			
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						<li>CMS: <a href="http://www.spip.net/fr_rubrique91.html" rel="generator" title="<:site_realise_avec_spip:>">SPIP</a></li>
						<li>[(#SESSION{id_auteur}|non)<a href="[(#URL_PAGE{login}|parametre_url{url,#SELF})]" rel="nofollow" class='login_modal'><:lien_connecter:></a>]</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			[(#REM) 
<script src="#CHEMIN{assets/js/jquery.min.js}"></script>
			 ]
			<script src="#CHEMIN{assets/js/jquery.scrollex.min.js}"></script>
			<script src="#CHEMIN{assets/js/jquery.scrolly.min.js}"></script>
			<script src="#CHEMIN{assets/js/skel.min.js}"></script>
			<script src="#CHEMIN{assets/js/util.js}"></script>
			<!--[if lte IE 8]><script src="#CHEMIN{assets/js/ie/respond.min.js}"></script><![endif]-->
			<script src="#CHEMIN{assets/js/main.js}"></script>

	</body>
</html>